argon2-cffi
argon2-cffi-bindings
asgiref
bcrypt
cffi
Django
django-cors-headers
django_csp
djangorestframework
djangorestframework-simplejwt
gunicorn
packaging
pillow
psycopg2-binary
pycparser
PyJWT
python-dotenv
sqlparse
tzdata
whitenoise
