absl-py
accelerate
alembic
argon2-cffi
argon2-cffi-bindings
asgiref
asttokens
astunparse
bcrypt
blinker
cachetools
certifi
cffi
charset-normalizer
click
cloudpickle
cmdstanpy
colorama
comm
contourpy
cycler
databricks-sdk
debugpy
decorator
Deprecated
Django
django-cors-headers
django_csp
djangorestframework
djangorestframework-simplejwt
docker
executing
filelock
Flask
flatbuffers
fonttools
fsspec
gast
gitdb
GitPython
google-auth
google-pasta
graphene
graphql-core
graphql-relay
greenlet
grpcio
gunicorn
h5py
holidays
huggingface-hub
idna
importlib_metadata
importlib_resources
ipykernel
ipython
ipywidgets
itsdangerous
jedi
Jinja2
joblib
jupyter_client
jupyter_core
jupyterlab_widgets
keras
kiwisolver
libclang
Mako
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
ml-dtypes
mlflow
mlflow-skinny
mpmath
namex
nest-asyncio
networkx
nltk
numpy
opencv-python-headless
opentelemetry-api
opentelemetry-sdk
opentelemetry-semantic-conventions
opt_einsum
optree
packaging
pandas
parso
pillow
platformdirs
plotly
prettytable
prompt_toolkit
prophet
protobuf
psutil
py-cpuinfo
pyarrow
pyasn1
pyasn1-modules
pycparser
Pygments
PyJWT
pyparsing
python-dateutil
pytz
pywin32
PyYAML
pyzmq
regex
requests
rich
rsa
safetensors
schema
scikit-learn
scipy
seaborn
six
smmap
SQLAlchemy
sqlparse
stack-data
stanio
sympy
tenacity
tensorboard-data-server
torch
torchvision
torchaudio
intel-extension-for-tensorflow
transformers
typing_extensions
tzdata
urllib3
waitress
wcwidth
Werkzeug
whitenoise
widgetsnbextension
wrapt
zipp
