.div {
    display: flex;
    flex-direction: column;
    min-height: 100px;
    margin-left: calc(50% - 50vw);
    color: rgba(0, 0, 0, 1);
    font-family: "Poppins", sans-serif;
    background-color: rgba(255, 255, 255, 1);
    width: 100vw;
    padding: 33px 20px 80px;
  }
  @media (max-width: 640px) {
    .div {
      padding-bottom: 40px;
    }
  }
  .section {
    display: flex;
    flex-direction: column;
    min-height: 100px;
    margin-left: auto;
    color: rgba(0, 0, 0, 1);
    font-family: "Poppins", sans-serif;
    background-color: rgba(255, 255, 255, 1);
    width: 100%;
    padding: 33px 20px 80px;
    align-self: stretch;
    flex-grow: 1;
    max-width: 1200px;
    margin-right: auto;
  }
  @media (max-width: 640px) {
    .section {
      padding-bottom: 40px;
    }
  }
  .visuallyBuildAnyApp {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    padding: 0 20px;
  }
  .div2 {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: center;
    gap: 26px;
  }
  .img {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 100%;
    min-height: 20px;
    min-width: 20px;
    overflow: hidden;
    max-width: 50px;
  }
  .div3 {
    position: relative;
    height: auto;
    color: rgba(0, 0, 0, 1);
    font-size: 28px;
    font-weight: 300;
    width: auto;
    align-self: center;
  }
  .img2 {
    aspect-ratio: 0.88;
    object-fit: contain;
    object-position: center;
    width: 100%;
    min-height: 20px;
    min-width: 20px;
    overflow: hidden;
    max-width: 39px;
  }
  .div4 {
    position: relative;
    margin-top: 21px;
    height: auto;
    color: rgba(0, 0, 0, 1);
    text-align: center;
    width: 100%;
    max-width: 500px;
    font: 600 30px "Poppins", sans-serif;
  }
  .makeYourFirstEdit {
    display: flex;
    flex-direction: row;
    position: relative;
    margin-top: 80px;
    justify-content: center;
    width: 100%;
    align-self: center;
    max-width: 700px;
    gap: 40px;
  }
  @media (max-width: 640px) {
    .makeYourFirstEdit {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  .div5 {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    max-width: 50%;
    padding-left: 20px;
    color: rgba(0, 0, 0, 1);
  }
  @media (max-width: 640px) {
    .div5 {
      align-items: center;
      max-width: 300px;
    }
  }
  .div6 {
    position: relative;
    height: auto;
    font-family: "Poppins", sans-serif;
    color: rgba(0, 0, 0, 1);
    font-weight: 600;
    text-align: left;
    margin-bottom: 10px;
  }
  .div7 {
    position: relative;
    height: auto;
    color: rgba(0, 0, 0, 1);
    text-align: left;
    font: 400 12px "Poppins", sans-serif;
  }
  @media (max-width: 640px) {
    .div7 {
      text-align: center;
    }
  }
  .img3 {
    aspect-ratio: 2.88;
    object-fit: contain;
    object-position: center;
    width: 100%;
    min-height: 20px;
    min-width: 20px;
    overflow: hidden;
    max-width: 102px;
    margin: 20px 0 0 auto;
  }
  @media (max-width: 991px) {
    .img3 {
      display: flex;
    }
  }
  @media (max-width: 640px) {
    .img3 {
      display: none;
    }
  }
  .counter {
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 50%;
    padding-right: 20px;
    width: 100%;
  }
  @media (max-width: 640px) {
    .counter {
      margin: 0 auto;
    }
  }
  .startHere {
    display: flex;
    flex-direction: row;
    position: relative;
    margin-top: 40px;
    justify-content: center;
    width: 100%;
    align-self: center;
    max-width: 700px;
    gap: 28px;
    flex-wrap: wrap;
  }
  @media (max-width: 991px) {
    .startHere {
      width: 100%;
      max-width: 450px;
    }
  }
  @media (max-width: 640px) {
    .startHere {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  .a {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: space-between;
    cursor: pointer;
    pointer-events: auto;
    width: 100%;
    overflow: hidden;
  }
  @media (max-width: 640px) {
    .a {
      align-items: center;
      max-width: 300px;
    }
  }
  .div8 {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-bottom: 20px;
    border-radius: 9px;
    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, 1);
  }
  .img4 {
    aspect-ratio: 2.22;
    object-fit: cover;
    object-position: center;
    width: 100%;
    min-height: 20px;
    min-width: 20px;
    overflow: hidden;
  }
  .div9 {
    position: relative;
    height: auto;
    font-family: "Poppins", sans-serif;
    color: rgba(0, 0, 0, 1);
    font-weight: 600;
    text-align: center;
    margin: 9px 0 10px;
    padding: 0 10px;
  }
  .div10 {
    position: relative;
    height: auto;
    color: rgba(0, 0, 0, 1);
    text-align: center;
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
    padding: 0 10px;
    font: 400 12px "Poppins", sans-serif;
  }
  @media (max-width: 640px) {
    .div10 {
      text-align: center;
    }
  }
  .a2 {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: space-between;
    max-width: 48%;
    cursor: pointer;
    pointer-events: auto;
    overflow: hidden;
  }
  @media (max-width: 991px) {
    .a2 {
      max-width: 100%;
      width: 100%;
    }
  }
  @media (max-width: 640px) {
    .a2 {
      align-items: center;
      max-width: 300px;
    }
  }
  .div11 {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-bottom: 20px;
    border-radius: 9px;
    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, 1);
  }
  .div12 {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #0d052c;
  }
  .img5 {
    aspect-ratio: 3.3;
    object-fit: cover;
    object-position: center;
    width: 100%;
    min-height: 20px;
    min-width: 20px;
    overflow: hidden;
  }
  .div13 {
    position: relative;
    height: auto;
    font-family: "Poppins", sans-serif;
    color: rgba(0, 0, 0, 1);
    font-weight: 600;
    text-align: center;
    margin: 9px 0 10px;
    padding: 0 10px;
  }
  .div14 {
    position: relative;
    height: auto;
    color: rgba(0, 0, 0, 1);
    text-align: center;
    padding: 0 10px;
    font: 400 12px "Poppins", sans-serif;
  }
  @media (max-width: 640px) {
    .div14 {
      text-align: center;
    }
  }
  .a3 {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: space-between;
    max-width: 48%;
    padding-bottom: 20px;
    border-radius: 9px;
    cursor: pointer;
    pointer-events: auto;
    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, 1);
  }
  @media (max-width: 991px) {
    .a3 {
      max-width: 100%;
      width: 100%;
    }
  }
  @media (max-width: 640px) {
    .a3 {
      align-items: center;
      max-width: 300px;
    }
  }
  .div15 {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .div16 {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #191919;
    align-items: center;
    justify-content: center;
    padding: 9px 9px 35px;
  }
  .img6 {
    aspect-ratio: 2.92;
    object-fit: cover;
    object-position: center;
    width: 100%;
    min-height: 20px;
    min-width: 20px;
    overflow: hidden;
    max-width: 170px;
  }
  .div17 {
    position: relative;
    height: auto;
    font-family: "Poppins", sans-serif;
    color: rgba(0, 0, 0, 1);
    font-weight: 600;
    text-align: center;
    margin: 9px 0 10px;
    padding: 0 10px;
  }
  .div18 {
    position: relative;
    height: auto;
    color: rgba(0, 0, 0, 1);
    text-align: center;
    padding: 0 10px;
    font: 400 12px "Poppins", sans-serif;
  }
  @media (max-width: 640px) {
    .div18 {
      text-align: center;
    }
  }
  .a4 {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: space-between;
    max-width: 48%;
    cursor: pointer;
    pointer-events: auto;
    overflow: hidden;
  }
  @media (max-width: 991px) {
    .a4 {
      max-width: 100%;
      width: 100%;
    }
  }
  @media (max-width: 640px) {
    .a4 {
      align-items: center;
      max-width: 300px;
    }
  }
  .div19 {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-bottom: 20px;
    border-radius: 9px;
    pointer-events: auto;
    height: 100%;
    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, 1);
  }
  .img7 {
    aspect-ratio: 2.22;
    object-fit: cover;
    object-position: center;
    width: 100%;
    min-height: 20px;
    min-width: 20px;
    overflow: hidden;
  }
  .div20 {
    position: relative;
    height: auto;
    font-family: "Poppins", sans-serif;
    color: rgba(0, 0, 0, 1);
    font-weight: 600;
    text-align: center;
    margin: 9px 0 10px;
    padding: 0 10px;
  }
  .div21 {
    position: relative;
    height: auto;
    color: rgba(0, 0, 0, 1);
    text-align: center;
    padding: 0 10px;
    font: 400 12px "Poppins", sans-serif;
  }
  @media (max-width: 640px) {
    .div21 {
      text-align: center;
    }
  }
  .a5 {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: space-between;
    max-width: 48%;
    cursor: pointer;
    pointer-events: auto;
    overflow: hidden;
  }
  @media (max-width: 991px) {
    .a5 {
      max-width: 100%;
      width: 100%;
    }
  }
  @media (max-width: 640px) {
    .a5 {
      align-items: center;
      max-width: 300px;
    }
  }
  .div22 {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-bottom: 20px;
    border-radius: 9px;
    pointer-events: auto;
    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, 1);
  }
  .img8 {
    aspect-ratio: 2.22;
    object-fit: cover;
    object-position: center;
    width: 100%;
    min-height: 20px;
    min-width: 20px;
    overflow: hidden;
  }
  .div23 {
    position: relative;
    height: auto;
    font-family: "Poppins", sans-serif;
    color: rgba(0, 0, 0, 1);
    font-weight: 600;
    text-align: center;
    margin: 9px 0 10px;
    padding: 0 10px;
  }
  .div24 {
    position: relative;
    height: auto;
    color: rgba(0, 0, 0, 1);
    text-align: center;
    padding: 0 10px;
    font: 400 12px "Poppins", sans-serif;
  }
  @media (max-width: 640px) {
    .div24 {
      text-align: center;
    }
  }
  .learnMore {
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 100px;
    color: rgba(255, 255, 255, 1);
    font-family: "Poppins", sans-serif;
    background-color: rgba(0, 0, 0, 1);
    width: 100vw;
    align-self: stretch;
    margin-left: calc(50% - 50vw);
    padding: 30px 20px 40px;
  }
  @media (max-width: 640px) {
    .learnMore {
      padding-top: 21px;
    }
  }
  .section2 {
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 100px;
    color: rgba(255, 255, 255, 1);
    font-family: "Poppins", sans-serif;
    background-color: rgba(0, 0, 0, 1);
    width: 100%;
    align-self: stretch;
    margin-left: auto;
    padding: 30px 20px 40px;
    flex-grow: 1;
    max-width: 1200px;
    margin-right: auto;
  }
  @media (max-width: 640px) {
    .section2 {
      padding-top: 21px;
    }
  }
  .div25 {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: 20px auto 0;
  }
  .div26 {
    gap: 20px;
    display: flex;
  }
  @media (max-width: 991px) {
    .div26 {
      flex-direction: column;
      align-items: stretch;
      gap: 0px;
    }
  }
  .column {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 50%;
    margin-left: 0px;
  }
  @media (max-width: 991px) {
    .column {
      width: 100%;
    }
  }
  .integrateBuilderWithYourApp {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  @media (max-width: 991px) {
    .integrateBuilderWithYourApp {
      align-items: center;
    }
  }
  .div27 {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .div28 {
    position: relative;
    height: auto;
    color: rgba(255, 255, 255, 1);
    text-align: left;
    font: 600 15px "Poppins", sans-serif;
  }
  .div29 {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 10px;
    gap: 10px;
    line-height: 1.7;
  }
  .integrations {
    position: relative;
    height: auto;
    color: rgba(255, 255, 255, 1);
    text-align: left;
    cursor: pointer;
    pointer-events: auto;
    font: 400 13px "Poppins", sans-serif;
  }
  @media (max-width: 991px) {
    .integrations {
      text-align: center;
    }
  }
  .a6 {
    position: relative;
    height: auto;
    color: rgba(255, 255, 255, 1);
    text-align: left;
    cursor: pointer;
    pointer-events: auto;
    font: 400 13px "Poppins", sans-serif;
  }
  @media (max-width: 991px) {
    .a6 {
      text-align: center;
    }
  }
  .guides {
    position: relative;
    height: auto;
    color: rgba(255, 255, 255, 1);
    text-align: left;
    cursor: pointer;
    pointer-events: auto;
    font: 400 13px "Poppins", sans-serif;
  }
  @media (max-width: 991px) {
    .guides {
      text-align: center;
    }
  }
  .a7 {
    position: relative;
    height: auto;
    color: rgba(255, 255, 255, 1);
    text-align: left;
    cursor: pointer;
    pointer-events: auto;
    font: 400 13px "Poppins", sans-serif;
  }
  @media (max-width: 991px) {
    .a7 {
      text-align: center;
    }
  }
  .column2 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 50%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .column2 {
      width: 100%;
    }
  }
  .learnTheBuilderVisualEditor {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  @media (max-width: 991px) {
    .learnTheBuilderVisualEditor {
      margin-top: 27px;
      align-items: center;
    }
  }
  .div30 {
    position: relative;
    height: auto;
    color: rgba(255, 255, 255, 1);
    text-align: left;
    font: 600 15px "Poppins", sans-serif;
  }
  .div31 {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 10px;
    gap: 10px;
  }
  .a8 {
    position: relative;
    height: auto;
    color: rgba(255, 255, 255, 1);
    text-align: left;
    cursor: pointer;
    pointer-events: auto;
    font: 400 13px "Poppins", sans-serif;
  }
  @media (max-width: 991px) {
    .a8 {
      text-align: center;
    }
  }
  .a9 {
    position: relative;
    height: auto;
    color: rgba(255, 255, 255, 1);
    text-align: left;
    cursor: pointer;
    pointer-events: auto;
    font: 400 13px "Poppins", sans-serif;
  }
  @media (max-width: 991px) {
    .a9 {
      text-align: center;
    }
  }
  .a10 {
    position: relative;
    height: auto;
    color: rgba(255, 255, 255, 1);
    text-align: left;
    cursor: pointer;
    pointer-events: auto;
    font: 400 13px "Poppins", sans-serif;
  }
  @media (max-width: 991px) {
    .a10 {
      text-align: center;
    }
  }
  .a11 {
    position: relative;
    height: auto;
    color: rgba(255, 255, 255, 1);
    text-align: left;
    cursor: pointer;
    pointer-events: auto;
    font: 400 13px "Poppins", sans-serif;
  }
  @media (max-width: 991px) {
    .a11 {
      text-align: center;
    }
  }